rfc6266 encoded filenames

It turns out C# encodes file name as ASCII characters when you send multipart/form-data request.
For example:
{file, <<"files[]">>, FileName0, _} = cow_multipart:form_data(Headers),
FileName1 = unicode:characters_to_binary(),

FileName1 will look the following way.
<<"=?utf-8?B?0J/QntCf0JXQoNCV0JTQndCG0Jlf0JTQntCT0J7QktCG0KBf0LrQstCw0YDQuNGAX9Cf0YDQvtGE0J/QkdGD0LnQutCwXzI3ICjQtyDQv9GA0LDQstC60LDQvNC4IDA2LTA5LTE3KS5kb2M=?=">>

This is RFC2047-encoded string, as I can see ( https://tools.ietf.org/html/rfc2047 )

See ticket https://github.com/dotnet/corefx/issues/24482 where they say "This is by-design."




Can you clarify what you expect me to do about it? Is it about implementing https://tools.ietf.org/html/rfc6266 and https://tools.ietf.org/html/rfc8187 ? Because they're in the list but they're unlikely to be implemented any time soon for now (this is the first time I hear it be necessary).

That is a good question !

I've looked through the history of that issue in Python language and found the following.

RFC 2388 says:
"""
   Field names originally in non-ASCII character sets may be encoded
   within the value of the "name" parameter using the standard method
   described in RFC 2047.
"""

RFC 2047, in turn, says:
"""
   Generally, an "encoded-word" is a sequence of printable ASCII
   characters that begins with "=?", ends with "?=", and has two "?"s in
   between.  It specifies a character set and an encoding method, and
   also includes the original text encoded as graphic ASCII characters,
   according to the rules for that encoding method.
"""

But RFC 6266 prohibits using "encoded-word" in "Content-Disposition":
"""
      An 'encoded-word' MUST NOT be used in parameter of a MIME Content-
      Type or Content-Disposition field, or in any structured field body
      except within a 'comment' or 'phrase'.
"""

RFC 2388 also says:
"""
   The original local file name may be supplied as well, either as a
   "filename" parameter either of the "content-disposition: form-data"
   header or, in the case of multiple files, in a "content-disposition:
   file" header of the subpart. The sending application MAY supply a
   file name; if the file name of the sender's operating system is not
   in US-ASCII, the file name might be approximated, or encoded using
   the method of RFC 2231.
"""


From RFC 2231 we learn what method should be used in order to encode non-ASCII filenames:
"""
   Asterisks ("*") are reused to provide the indicator that language and
   character set information is present and encoding is being used. A
   single quote ("'") is used to delimit the character set and language
   information at the beginning of the parameter value. Percent signs
   ("%") are used as the encoding flag, which agrees with RFC 2047.
"""

So it looks like MS has ignored RFC 5987 and implemented the wrong filename encoding ( as usual ).
Instead of base64 encoded string in fielame field, it should have been

=utf-8''%D0%9F%D0%9E%D0%9F%D0%95%D0%A0%D0%95%D0%94%D0%9D%D0%86%D0%99_%D0%94%D0%9E%D0%93%D0%9E%D0%92%D0%86%D0%A0_%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%80_%D0%9F%D1%80%D0%BE%D1%84%D0%9F%D0%91%D1%83%D0%B9%D0%BA%D0%B0_27%20%28%D0%B7%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BA%D0%B0%D0%BC%D0%B8%2006-09-17%29.doc


See Rob Starling reply on this post: 
https://stackoverflow.com/questions/20591599/why-arent-post-names-with-unicode-sent-correctly-when-using-multipart-form-data/20592910?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa


Answering your question on what should be done.
Since MS tries to play me off, as a client developer against you, as a server developer,
the best tactics would be to not support their crap at all.



Right the `filename` field is garbage and I have no intention of supporting this, but the `filename*` field seems to be following the proper documents I linked (RFC5987 has been superseded by RFC8187). At least according to the dotnet ticket you linked to. So if those were implemented I think the correct filename could be returned by Cowboy instead of the garbage it returns now.

Can you confirm you get the `filename*` field (in raw headers before parsing via cow_multipart:form_data) and its value looks correct according to these RFCs?

Yes, headers look the following way.

#{<<"content-disposition">> => <<"form-data; name=\"files[]\"; filename=\"=?utf-8?B?0J/QntCf0JXQoNCV0JTQndCG0Jlf0JTQntCT0J7QktCG0KBf0LrQstCw0YDQuNGAX9Cf0YDQvtGE0J/QkdGD0LnQutCwXzI3ICjQtyDQv9GA0LDQstC60LDQvNC4IDA2LTA5LTE3KS5kb2M=?=\"; filename*=utf-8''%D0%9F%D0%9E%D0%9F%D0%95%D0%A0%D0%95%D0%94%D0%9D%D0%86%D0%99_%D0%94%D0%9E%D0%93%D0%9E%D0%92%D0%86%D0%A0_%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%80_%D0%9F%D1%80%D0%BE%D1%84%D0%9F%D0%91%D1%83%D0%B9%D0%BA%D0%B0_27%20%28%D0%B7%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BA%D0%B0%D0%BC%D0%B8%2006-09-17%29.doc">>}

How do you get value of filename* field properly in cowboy ?



Try `cow_multipart:parse_content_disposition` on the header value, check the unit tests for that function in the same module for examples.

I wrote the following function.

extract_rfc2231_filename(#{<<"content-disposition">> := ContentDisposition}) ->
    {<<"form-data">>, FormDataAttrs} = cow_multipart:parse_content_disposition(ContentDisposition),
    case proplists:get_value(<<"filename*">>, FormDataAttrs) of
        undefined ->
            undefined;
        FileName2 ->
            FileNameByteSize = byte_size(FileName2),
            if FileNameByteSize < 8 ->
                    undefined;
                true ->
                    case binary:part(FileName2, {0, 7}) of
                        <<"utf-8''">> ->
                            FileName4 = binary:part(FileName2, {7, FileNameByteSize-7}),
                            unicode:characters_to_list(cow_qs:urldecode(FileName4));
                        _ ->
                            undefined
                    end
            end
    end.


I think what C# did is even worse than we discussed earlier. The multipart/form-data RFC says:

```
   NOTE: The encoding method described in [RFC5987], which would add a
   "filename*" parameter to the Content-Disposition header field, MUST
   NOT be used.
```

https://tools.ietf.org/html/rfc7578#section-4.2

And the content-disposition header that obsoleted RFC5987 says:

```
      Note: This encoding does not apply to message payloads transmitted
      over HTTP, such as when using the media type "multipart/form-data"
      ([RFC7578]).
```

https://tools.ietf.org/html/rfc8187#section-1

So I will go with not implementing this further for the time being. If you got additional information that would make me change my mind, please let me know! Closing, thanks!